.movie-container{
  padding-top: 6em;
  padding-bottom: 3em;
}


.dropDowns{
  display: flex;
  flex-direction: row;
  color: #ffc300;
  padding: 1.5em;
  height: 50px;
  width: 80%;
}

.page{
  color: #ffc300;
  background-color: black;
}