.projectRating {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* flex-direction: column; */
  margin-bottom: 5px;
}

.ratingResult1 {
  margin-top: 21.280px;
  margin-bottom: 2px;
  /* width: 13em; */
  margin-bottom: 1em;
}