.user-dashboard-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 75px; 
  background-color: 	#202020;
  color: bisque;
}

.renderObject {
  border: solid;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;;
}

.user-movie-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: 	#202020;
  color: bisque;
  border: 2px solid #BFACAA; 
  border-radius: 10px;
  padding: 2em;
  margin-top: 2.5em;
  &:hover {
    border: 3px #4A8FE7 solid;
  }
}

.user_page_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px double #BFACAA;
  width: 50%;
  padding: .25em;
}

.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  // position: relative;
  width: 50%;
  padding: 2em;
  border-radius: 10px;
  background-color: 	#202020;
  margin-top: 1.5em;
  border: 2px solid #BFACAA; 
  &:hover {
    border: 3px #4A8FE7 solid;
  }
}

.content-top {
  display: flex;
}

.left {
  flex: 1;
}

.right {
  flex: 1;
  padding-left: 1em;
}

.bio {
  width: 50%;      
  background-color: #BFACAA;       
  border: 2px solid black; 
  border-radius: 10px;     
  padding: 10px;      
  word-wrap: break-word;    
}

article {
  padding: 1.5em;
}

.user-avatar {
  object-fit: cover;
}

.deleteBut {
  background-color: 	#202020;
  color: #ffc300;
  border-color: #ffc300;
  height: 2em;
  width: auto;

}

.renderReviews {
  flex-direction: column;
  width: 20em;
  background-color: black;
  padding: 2.5em;
  border-radius: 0.5em;
  border: solid 2px #ffc300;
  margin-bottom: 3em;
  .text {
    color: white;
    border-left: 2px #ffc300 solid;
    padding-left: 1em;
  }
}