.movie-container{
  padding-top: 6em;
  padding-bottom: 3em;
  background-color: 	#202020;
  min-height: 80vh;
}

.title {
  color: #ffc300;
  display: flex;
  justify-content: center;
}

.mainPlaylists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
  color: #ffc300;
  padding-bottom: 0.5em;
  img {
    object-fit: cover;
  }
}

.renderObject {
  display: flex;
  flex-direction: column;
  width: 50em;
  background-color: black;
  .text {
    color: white;
    border-left: 2px #ffc300 solid;
    padding-left: 1em;
  }
}

b {
  color: #ffc300;
}

