.movie-container{
  padding-top: 6em;
  padding-bottom: 3em;
  background-color: 	#202020;
  min-height: 80vh;
}

.title {
  color: #ffc300;
  display: flex;
  justify-content: center;
}

.mainPlaylists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2em;
  color: #ffc300;
  padding-bottom: 0.5em;
  img {
    object-fit: cover;
  }
}

.renderObject {
  display: flex;
  flex-direction: column;
  width: 50em;
  background-color: black;
  .text {
    color: white;
    border-left: 2px #ffc300 solid;
    padding-left: 1em;
  }
}

b {
  color: #ffc300;
}

.form {
  background-color: black;
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
  padding: 0.5em;
  border: 2px #ffc300 solid;
  border-radius: 10px;
  .input {
    padding: 10px 5px;
    background-color: #202020;
    color: #ffc300;
    border: 2px #ffc300 solid;
    border-radius: 5px;
  }
  .submitButton {
    margin: 0;
    color: #ffc300;
    background-color: #202020;
    border: 2px #ffc300 solid;
    &:hover {
      cursor: pointer;
      color: #202020;
      background-color: #ffc300;
    }
  }
}

@media only screen and (max-width: 1187px) {
  .new-playlist {
    margin-top: 5%;
  }
  .form {
    display: flex;
    flex-direction: column;
    .input {
      margin-bottom: 1em;
    }
  }
}


