/* Dropdown Button */
.dropbtn {
  background-color: #202020;
  color:#ffc300;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: 0;
  border-radius: 1em;
  border: 2px #ffc300 solid;
}

/* The container <div> - needed to position the dropdown content */
.dropdownGenre {
  margin-right: 10px;
}

.dropdownSort {
  margin-left: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 1.5em;
}

/* Links inside the dropdown */
.dropdown-content span {
  color:#ffc300;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content span:hover {
  background-color: #ffc300;
  color: black;
  cursor: pointer;
  border-radius: 0.5em;
}

/* Show the dropdown menu on hover */
.dropdownGenre:hover .dropdown-content {display: block;}
.dropdownSort:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownGenre:hover .dropbtn {
  border-radius: 1em;
  background-color: #ffc300;
  color: black;
}
.dropdownSort:hover .dropbtn {
  border-radius: 1em;
  background-color: #ffc300;
  color: black;
}