.nav-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  transition: top 0.3s;
  position: fixed;
  width: 100vw;
  z-index: 3;
  border-bottom: 1px solid #ffc300;
}

.logo-container {
  width: 30%;
  margin-left: 2em;
}

.user {
  width: 30%;
  display: flex;  
  justify-content: flex-end;
  align-items: center;
  margin-right: 2em;
}

h1 {
  color:#ffc300;
  /* color:#ffc300; */
  /* margin-right: 1em; */
  font-size: 1em;
  margin-left: 1em;
}

.welcome-back {
  color:#ffc300;
  text-align: right;
  margin-right:1em;
  font-size: 1em;
} 

.Navbut {
  background-color: #ffc300;
  border-radius: 0.5em;
  border: 1px #ffc300 solid;
  padding: 0.5em;
  margin: 0.3em;
  transition: 150ms ease-in-out;
}
.Navbut:hover{
  background-color: black;
  /* border-radius: 0.5em; */
  /* border-color: black; */
}

.Navbut:hover .NavLink {
  color: #ffc300;
}
  
.NavLink {
  color: black;
  font-size: larger;
  text-decoration: none
}
.NavMage{
  display: flex;
  margin-left: 4em;
  margin-top: 1em;
}