.footer-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: #ffc300;
  position: absolute;
  height: 12%;
  bottom: 1;
  width: 100%;
  border-top: thick double #ffc300;
}

a {
  color: #ffc300;
  text-decoration: none;
}

