.footer-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: #ffc300;
  position: absolute;
  height: 12%;
  bottom: 1;
  width: 100%;
  border-top: 1px #ffc300 solid;
}

.footerLink {
  color: #ffc300;
  text-decoration: none;
  transition: 150ms ease-in-out;
}

.footerLink:hover {
  transform: scale(1.2);
}
