.rating2{
  background-color: black;
  color: #ffc300;
  border-radius: 0.5em;
  border: 2px #ffc300 solid;
  width: 5em;
  padding: 5px;
  margin: 1em 0 0 0.5em;
  transition: 150ms ease-in-out;

}

.rating2:hover {
  background-color: #ffc300;
  color: black;
  cursor: pointer;
}

/* .option {
  background-color: black;
  color: #ffc300;
  border-radius: 10px;
}

.option:hover {
  background-color: #ffc300;
  color: black;
} */

.spaceRating{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratingForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.test {
  background-color: black;
}

ul.MuiList-root.MuiList-padding.MuiMenu-list.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: black;
  border: 2px #ffc300 solid;
  border-radius: 5px;
}
