img {
  border: 2px #ffc300 solid;
  border-radius: 10px;
  max-height: 300px;
}

.movieDetails {
  display: flex;
}

.movieTitleAndDescription {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

#transition-modal-title {
  border-bottom: 2px #ffc300 solid;
}

#transition-modal-description {
  text-align: justify;
}

.modal {
  height: 600px;
  overflow-y: auto;
}

.modal::-webkit-scrollbar {
  width: 2px;
}

.modal::-webkit-scrollbar-track {
  background-color: black;
  border-radius: 50%;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #ffc300;
}